.scalePie  {
	font-size: 12px;
}
.scalePie .title-wrap .title {
	text-anchor: middle;
	font-size: 1.17em;
}
.scalePie .title-wrap .sub-title {
	fill: #999999;
	text-anchor: middle;
}
.scalePie .h1, .scalePie .h3, .scalePie .h2{
	width: 80px;
	margin: 0 auto;
	padding-top: 20px;
	line-height: 14px;
	text-align: center;
	font-weight: normal;
}
.scalePie .h3 {
    padding-top: 65px;
    word-wrap: break-word;
}
.scalePie .h1 span sub {
    content: '%';
    vertical-align: top;
	display: inline-block;
	line-height: normal;
	font-size: .3em;
}
.scalePie .h1 span {
    display: block;
	line-height: 40px;
}
.scalePie .h1{
    overflow: hidden;
    height: 40px;
    padding-top: 0;
	font-size: 3.33em;
}
