.scalePie  {
	font-size: 10px;
}
.scalePie .title-wrap .title {
	text-anchor: middle;
	font-size: 1.4em;
}
.scalePie .title-wrap .sub-title {
	fill: #999999;
	text-anchor: middle;
	font-size: 1.2em;
}
.scalePie .h1, .scalePie .h3, .scalePie .h2{
	margin: 0 auto;
	text-align: center;
	font-weight: normal;
	font-size: 1.2em;
}
.scalePie .h3 {
    word-wrap: break-word;
	color: #666;
	font-size: 1.4em;
}
.scalePie .h1 span sub {
    content: '%';
    vertical-align: top;
	display: inline-block;
	line-height: normal;
	font-size: .3em;
}
.scalePie .h1 span {
    display: block;
	height: 1em;
	line-height: 1em;
}
.scalePie .h1{
    overflow: hidden;
    padding-top: 0;
	height: 1em;
	font-size: 4em;
}
